source http://nuget.org/api/v2

framework >= net45

nuget FSharp.Core redirects: force

group Build
  framework >= net45
  source http://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget ClosedXML 
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  framework >= net45
  source http://nuget.org/api/v2
  
  nuget NUnit ~> 3
  nuget NUnit.Runners ~> 3
